@page "/"
@inject IToastService toastService

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<button class="btn btn-info" @onclick="@(() => toastService.ShowToast("I'm an INFO message", ToastType.Info))">Info Toast</button>
<button class="btn btn-success" @onclick="@(() => toastService.ShowToast("I'm a SUCCESS message", ToastType.Success))">Success Toast</button>
<button class="btn btn-warning" @onclick="@(() => toastService.ShowToast("I'm a WARNING message", ToastType.Warning))">Warning Toast</button>
<button class="btn btn-danger" @onclick="@(() => toastService.ShowToast("I'm an ERROR message", ToastType.Error))">Error Toast</button>